/* { box-sizing: border-box;}*/


body {
    font-size: align;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .titulo H1{
    color: black;
    font-size: 38px;
    
  }
  
  
  .conteudo{
  background-image: url(img/gol.jpg);
  height: 200px;
  background-repeat: no-repeat;
  border: 2px solid darkgray;
  background-size: cover;
  background-position: center center;
  position: whatever;
  
  
  height: 450px;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #FFF;
  padding: 50px;
  display: flex;
  justify-content:center;
  flex-direction: column;
  
  
  }
  
  .section{
  text-align: center;
  margin: auto;
  width: 100%;
  color: #FFF;
  padding: 50px;
  height: 3000px;
  background-color: #5b83b3;
  flex-direction: column;
  
  }
  
  .section h2{
    margin-bottom: 20px;
  }
  
  .section p{
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
  }
  
  .titulo{
    margin-bottom: 30px;
    flex-direction: column;
    
  
  }
  
    .titulo H3{
      color:white;
      font-weight: normal;
      line-height: 38px;
  
  
    }
  
  
  .carros {
    display: flex;
    justify-content: space-between;
  }
  
  .carro {
    margin-right: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #00836a;
    text-decoration: none;
    color: #3d3d3d;
  }
  
  .carro a {
    text-decoration: none;
    color: #333;
  }
  
  .carro a p {
    text-align: center;
  }
  .carro img{
    width: 80px;
    height: 80px;
  
  }
  
  
  .carro:last-child {
    margin-right: 0px;
  }
  
  .tamanho-maximo-container {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .secao-container {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
  }
  
  img {
    width: 100%;
  }
  @media all and (min-width:800px){
    .section{
  
      flex: 1;
    }
    .conteudo{
      flex: 1;
    }
  }
  
  
  @media all and (min-width:800px){
    .section{
  fit
      flex: 1;
      order: 1;
  
    }
    .conteudo{
      flex: 1;
      order: 2;
    }
  }
  
  
  
  
    