.container-login {
    min-width: 320px;
    max-width: 900px;
    margin: 1em auto;
}

.container-login h2 {
    text-align: center;
    margin: 10px 0;
}

.container-login p {
    text-align: center;
    margin: 10px 0;
}

.container-login label {
    display: block;
    margin-left: 1em;
}

.container-login input {
    width: 95%;
    margin: 1em auto;
    display: block;
}

.container-login textarea {
    margin: 1em auto 1em auto;
    width: 50%;
    display: block;
}

.container-login button {
    margin: 1em auto 1em auto;
    width: 50%;
    display: block;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}